/* Add Custome Font Here */
/* @font-face ??? */
/* Specify a custom font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Game Of Squids";
  src: url("./assets/Game Of Squids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

main h1 {
  /* font family? */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Game Of Squids", Arial, sans-serif;
  color: rgb(142, 166, 233);
  margin-top: 0;
  padding-top: 60px;
  font-size: 3em;
  display: flex;
  justify-content: center;
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
}

#homePage {
  height: 100vh;
  width: 100vw;
  color: white;
  background: url("/images/gamer.gif") black center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
}

.footerNav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#homeNav {
  /* font-family:'Courier New', Courier, monospace; */
  font-family: "Game Of Squids", Arial, sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgb(0, 98, 128);
  margin: 0;
  padding: 0;
  opacity: 0.9;
  box-shadow: 0px -2px 10px rgb(240, 110, 240);
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
}

li {
  list-style-type: none;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(142, 166, 233);
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
}

li a:hover {
  background-color: cyan;
  color: black;
  transition: 0.7s;
  box-shadow: 5px 5px 20px purple;
  border-radius: 50px;
}

/* Coming Soon Styling */
#comingSoon {
  height: 800px;
  width: 1000px;
  background: url("/images/comingsoon.gif") black center;
  background-repeat: no-repeat;
}

.aboutPage {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
