/* Add Custome Font Here */
/* @font-face ??? */
/* Specify a custom font */
@font-face {
    font-family: ethno;
    src: url("./fonts/Ethnocentric-Regular.otf");
}

main h1{
    /* font family? */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: ethno;
    color: cyan;
    margin-top: 60px;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

#homePage{
    height: 90vh;
    width: 100vw;
    color: white;
    background: url("/images/gamer.gif") black center;
    background-repeat: no-repeat;
}
#homeNav{
    /* font-family:'Courier New', Courier, monospace; */
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    background: black;
    position: relative;
    top: 80vh;
}

li{
    list-style-type: none;
}

li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #df0024;
    text-decoration: none;
    text-align: center;
    padding : 10px 15px;
}

li a:hover {
    background-color: #f3c300;
    color: black;
    transition: .7s;
    box-shadow: 5px 5px 20px white;
    border-radius: 50px;
}

/* Coming Soon Styling */
#comingSoon{
    height: 800px;
    width: 1000px;
    background: url("/images/comingsoon.gif") black center;
    background-repeat: no-repeat;
}

.aboutPage{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}